$color-wheat: wheat;
$color-header-light: rgba(253,213,167,0.685);
$color-header-dark: rgba(192,107,101,0.801);
$color-dark-red: rgb(131,4,4);
$color-dark-grey: rgba(59,13,13,0.452);
$color-white: white;
$color-brown: brown;
$color-shadow: rgba(48,16,16,0.205);
$grid-space: #eee;
$box-shadow:rgba(black, .4);
$black: black;
$light-yellow:#ffb900;
$dark-yellow: #ff7730;
$light-peach: rgba(252, 169, 183, 0.938);
$dark-peach: rgb(179, 57, 83);
$light-purple: rgb(233, 127, 233);
$dark-purple: rgb(141, 16, 89);
$grey2: #777;
$grey: #999;


$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;